rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // ⚠️ Allow read and write during local dev (not for production!)
      allow read, write: if true;
    }
  }
}
